body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid slategrey;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1210px;
}
